<h1><center>K Nearest Neighbors Classifiers </center></h1>

<br><h1>Table of contents</h1><br>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#import_data">Import the Data</a></li>
        <li><a href="#prepare_data">Prepare the data</a></li>
        <li><a href="#knn">K Nearest Neighbor Model</a></li>
        <li><a href="#evaluation">Evaluation</a></li>
    </ol>
</div>
<br>
<hr>

In [72]:
#import libaries

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
mpl.style.use('ggplot')
%matplotlib inline

<br><h2 id='import_data'>Import the Data</h2><br><br>

In [73]:
#import the data
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

<br><h2 id='prepare_data'>Prepare the data</h2><br><br>

In [74]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [76]:
#Understand missing values

features = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']

print('Missing values:')
for column in features:
    df[column] = df[column].replace(0,np.NaN)
    print(column,'-',df[column].isnull().sum())

Missing values:
Glucose - 5
BloodPressure - 35
SkinThickness - 227
Insulin - 374
BMI - 11
DiabetesPedigreeFunction - 0
Age - 0

In [77]:
print('Missing values and Mean values:')
for column in features:
    mean = int(df[column].mean(skipna=True))
    df[column] = df[column].replace(np.NaN, mean)
    print(column,'-',df[column].isnull().sum(),', Mean value -',mean)

Missing values and Mean values:
Glucose - 0 , Mean value - 121
BloodPressure - 0 , Mean value - 72
SkinThickness - 0 , Mean value - 29
Insulin - 0 , Mean value - 155
BMI - 0 , Mean value - 32
DiabetesPedigreeFunction - 0 , Mean value - 0
Age - 0 , Mean value - 33

In [78]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,155.0,33.6,0.627,50,1
1,1,85.0,66.0,29.0,155.0,26.6,0.351,31,0
2,8,183.0,64.0,29.0,155.0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [79]:
#split the data
from sklearn.model_selection import train_test_split

X = df.iloc[:, 0:8]
y = df['Outcome']

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

<br><h2 id='knn'>K Nearest Neighbor Model</h2><br><br>

In [80]:
import math
math.sqrt(len(y_test))

12.409673645990857

In [81]:
k=11
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=k, p=2, metric='euclidean')
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
           metric_params=None, n_jobs=None, n_neighbors=11, p=2,
           weights='uniform')

In [82]:
y_pred = knn.predict(X_test)
y_pred

array([0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0],
      dtype=int64)

<br><h2 id="evaluation">Evaluation</h2><br><br>

In [93]:
from sklearn.metrics import accuracy_score,f1_score

print("Mean absolute error: %.2f" % np.mean(np.absolute(y_pred - y_test)))
print("Residual sum of squares (MSE): %.2f" % np.mean((y_pred - y_test) ** 2))
print("Accuracy score:",accuracy_score(y_pred,y_test))
print("F1 - score:",f1_score(y_pred,y_test))

Mean absolute error: 0.28
Residual sum of squares (MSE): 0.28
Accuracy score: 0.7207792207792207
F1 - score: 0.5981308411214953

In [94]:
prediction=knn.predict([[6,148.0,62.0,35.0,455.0,33.6,0.627,30]])
print('Outcome:',prediction)

Outcome: [1]

<br><br>
End of notebook...